.groups.profile
  .header
    %span= t '.title'
  .list
    %ul
      - @groups.each do |group|
        %li
          .thumb= link_to (image_tag group.thumb), group
          .name= link_to group.name.truncate(8), group
