.like.profile
  .header
    %span= t '.title'
  .list
    %ul
      - @likes.each do |user|
        %li
          .thumb= link_to (image_tag user.thumb), user
          .name= link_to user.name.truncate(8), user
