%ul.comments
  %li.new-comment
    .span-2
      = image_tag current_user.avatar
    .span-12.last

    .clear
  - object.comments.each do |comment|
    %li
      .span-2
        = image_tag comment.user.avatar
      .span-12.last
        .comment-title  
          = comment.title
        .comment-body
          = comment.body
      .clear