-if user_signed_in?
  .header-wrapper
    .header
      .logo
      .navi
        = render navi if navi
      .panel
        = link_to (t '.mailbox'), mailboxes_path
        = link_to (t '.setting'), edit_profile_path(current_user)
        = link_to (t '.logout'), destroy_user_session_path, :method => :delete
