.recommend.users
  .title= t '.title'
  %ul
    - UserRecommend.recommend(current_user.id)[0, 3].each do |h|
      - p = User.find(h[0]).profile
      %li
        = link_to (image_tag p.thumb), p
        .meta
          .name= link_to p.name, p
          .count= t '.indirect', :count => h[1]
