= form_for [@activity,@blog] do |f|
  -if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg
  .input-wrapper
    =f.text_field :title,:placeholder=>(t :title)
  .blog-content
    =f.cktext_area :content,:placeholder=>(t :content)
  .button-wrapper
    =f.submit (t '.submit')
