.content.index
  - if @empty
    .empty= t '.empty'
  = render :partial => 'groups', :collection => @groups, :as => :group
  = render :partial => 'activities', :collection => @activities, :as => :activity
  = render :partial => 'profiles', :collection => @profiles, :as => :profile
