.content.index
  - if @results.empty?
    .empty= t '.empty'
  - @results.each do |result|
    - case result
    - when Group
      = render :partial => 'groups', :locals => { :group => result }
    - when Activity
      = render :partial => 'activities', :locals => { :activity => result }
    - when Profile
      = render :partial => 'profiles', :locals => { :profile => result }
