.index.box.groups
  .box-header
    = t("group")+t("list")
    .links.groups
      = link_to (t "Create New Group"), new_group_path
  .box-body
    .labels
    .categories
      = render :partial => 'category', :collection => Category.sort('id DESC').all
