.logo.box=    render :partial => 'logo_box',    :locals => {:group => @group}
.info.box=    render :partial => 'info_box',    :locals => {:group => @group}
.members.box= render :partial => 'members_box', :locals => {:group => @group}
