%span.join
  - if can? :exit, group
    = link_to (t '.exit'), join_group_path(group), :remote => true
  - elsif can? :join, group
    = link_to (t '.join'), join_group_path(group), :remote => true
  - else
    = t '.wait'
