.groups.links
  %span.activities
    = link_to t("activity"), group_path(@group)
  %span.history
    = link_to t("history"), history_group_path(@group)
  %span.form
    = link_to t("organization"), organization_group_path(@group)
