.group.info-wrapper
  .back
    = link_to (t '.back'), @group
  .title
    = t '.title'
  .box
    = sanitize( @group.history, :attributes => %w(id class style href _cke_saved_href title alt width height)) 