.groups.index
  .hot
    .title= t '.hot'
    - Group.first(5).each do |group|
      = image_tag group.logo.url(:card)
  = render :partial => 'filter'
  = render :partial => 'card', :collection => @groups, :as => :group
