= render :partial => 'share/breadcrumbs'
.page-header
  %h1= t '.header'
.organization
  = sanitize(@group.organization, :attributes => %w(id class style src href _cke_saved_href title alt width height))  
