.main.group
  = render :partial => 'board', :object => @group, :as => :group
  - if can? :admin, @group
    = render :partial => 'admin_panel'
  = render :partial => 'activities'
  = render :partial => 'comments'
