.container
  %h1 北大社团平台
  %hr/
  #slider This is a Slider
  = render "sidebar"
  .span-16.last
    #right-top
      .header
        .title 活动信息
      = render :partial => "activity", :collection => @group.activities
