.gogo.card
  .avatar
    = link_to (image_tag current_user.url(:small)), current_user
  .info
    .name
      = link_to current_user.name, current_user
    .realname
      = link_to current_user.realname.truncate(15), current_user unless current_user.realname.nil?
    .points
      = t :level, :points => current_user.profile.points
    .meta
      %div
        %span=link_to (t '.like', :count => current_user.follows.count), users_profile_path(current_user)
        %span=link_to (t '.fans', :count => current_user.fans.count), users_profile_path(current_user)
      %div
        %span=link_to (t '.groups', :count => current_user.groups.count), groups_path(:filter =>:join,:anchor=>"filter-join")
        %span=link_to (t '.activities', :count => current_user.activities.count), activities_path(:filter =>:join,:anchor=>"filter-join")
  .clear
