.gogo.card
  .avatar
    = link_to (image_tag current_user.url(:small)), current_user
  .info
    .name
      = current_user.name 
    .nickname
      = current_user.nickname.truncate(15)
    .points
      = t :level, :points => current_user.profile.points
  .clear