<p>User Info</p>
<%= @user.name %>
<%= image_tag @user.avatar %>
<hr />
<p>My activities</p>
<%= render :partial => "activities/activities_list_without_description", :locals => {:activities => @my_activities} %>
<hr />
<p>Like groups</p>
<%= render :partial => "groups/group_list", :locals => {:groups => @user.like_groups} %>


