// Place all the styles related to the admin/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixin';

.admin.app-form .title{
    text-shadow: 0 -1px 2px #4D6170;
    color: #EEEEEE;
    font-size: 28px;
}

.admin.groups {
  th, td { text-align: center; }
  @include orange-link;
}
