// Place all the styles related to the admin/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixin';

.admin {
  .title { 
    @include orange;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    span { 
      float: left; 
      @include green-link;
    }
  }
}

.admin.groups {
  th, td { text-align: center; }
  @include orange-link;
}
