.page-header
  %h1= t '.title', :name => @activity.name
%ul.thumbnails
  = t '.empty' if @albums.empty?
  - @albums.each do |album|
    %li.span2
      .thumbnail
        = link_to image_tag(album.small), album
        .remark
          = album.title
