.activity-albums
  .back
    = link_to (t '.back'), @activity
  .title
    = t '.title', :name => @activity.name
-if @albums.empty?
  .box.no-content
    =t ".empty"
-else
  .box.detail
    .box-content
      %ul.album-covers
        - @albums.each do |album|
          %a{:href=>album_path(album)}
            %li
              %p.cover
                -if album.cover
                  =image_tag(album.cover.url(:small)) 
                -else
                  %span.empty-album=t :empty_album
              %p.title=album.title.truncate(15)
    .clear
