.span-16.last
  .box.detail
    .box-header
      = t(:activity_albums)+t(:list)
      = link_to "#{t :return} "+@activity.title, @activity
      .clear
    .box-content
      %ul.album-pictures
        - @albums.each do |album|
          %a{:href=>album_path(album)}
            %li
              %p.cover=image_tag(album.cover.url(:small)) if album.cover
              %p=album.title
        .clear
.clear
