.span-16.last
  .box.detail
    .box-header
      = link_to(@activity.name, @activity)
      = t(:albums_list)
      .clear
    .box-content
      %ul.album-pictures
        - @albums.each do |album|
          %a{:href=>album_path(album)}
            %li
              %p.cover
                -if album.cover
                  =image_tag(album.cover.url(:small)) 
                -else
                  %span.empty-album=t :empty_album
              %p=album.title
        .clear
.clear
