.box.detail
  .box-header
    = (t :album)+@album.title
    .clear
  .box-body
    %ul.album-pictures
      - @album.pictures.each do |pic|
        %a{:href=>picture_path(pic)}
          %li
            %p= image_tag(pic.url(:small))
            %p= pic.remark
            %p
              ="#{t :comment}: "
              =pic.comments.count

      .clear