.page-header
  %h1= best_in_place_if (can? :admin, @activity), @album, :title, :type => :input, :nil => t("add title")
%ul.thumbnails
  = '.empty' if @pictures.empty?
  - @album.pictures.each do |pic|
    %li.span2
      .thumbnail
        = link_to image_tag(pic.medium), pic
        .remark
          = pic.remark unless pic.remark.empty?
