.activity-pictures
  .back= link_to t(".back"), activity_albums_path(@activity)
  .title= t ".title", :name => @album.title
-if @pictures.empty?
  .box.no-content
    =t (".empty")
-else
  .box.detail
    .box-body
      %ul.album-pictures
        - @activity.pictures.each do |pic|
          %li
            .image-pic=link_to image_tag(pic.url(:medium)), pic
            .image-mani
              - if !pic.remark.empty?
                .image-remark= pic.remark
    .clear
