%ul
  %li
    = link_to (t "trash"), box_mailboxes_path(:trash), :remote => true
  %li
    = link_to (t "outbox"), box_mailboxes_path(:outbox), :remote => true
  %li
    = link_to (t "inbox"), box_mailboxes_path(:inbox), :remote => true
  %li
    = link_to (t "compose_new_message"), new_mailboxes_path
  .clear