.site-index.main
  .hotspot
    .inset-box
      .banner
        %ul
          - @banners.each do |activity|
            %li= image_tag activity.banner.url(:banner)
      .medium
        = image_tag @banners.first.banner.url(:medium) if @banners.first && @banners.first.banner
  = render :partial => 'site/newsfeeds'
