.site-index
  .hotspot
    .box-wrapper
      .banner
        %ul.pager
      .medium.pics
        - @posters.each do |activity|
          = image_tag activity.banner.url(:medium)
  .title
  %div
    .hidden= hidden_field_tag 'id', @id
    = render :partial => 'newsfeeds/newsfeeds', :locals => { :events => @events }
