// Place all the styles related to the form/second_building_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label
{
	color:#B48FA8;
	font-size:15px;
	font-weight:bold;
}
