// Place all the styles related to the form/second_building_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field input
{
	border: none;
	outline: none;
	border-top: 1px solid #BFCACA;
	border-bottom: 1px solid white;
	background: #F4F7F7;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.field input:focus
{
	background:#eeeeee;
	border: none;
	outline: none;
	border-top: 1px solid #BFCACA;
	border-bottom: 1px solid white;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.field textarea
{
	border: none;
	outline: none;
	border-top: 1px solid #BFCACA;
	border-bottom: 1px solid white;
	background: #F4F7F7;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.field textarea:focus
{
	background:#eeeeee;
	border: none;
	outline: none;
	border-top: 1px solid #BFCACA;
	border-bottom: 1px solid white;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
