@mixin box-radius($radius: 15px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($radius:0px, $spread:5px) {
  -webkit-box-shadow: 0px 0px $radius $spread rgba(200,200,200,0.5);
  -moz-box-shadow: 0px 0px $radius $spread rgba(200,200,200,0.5);
  box-shadow: 0px 0px $radius $spread rgba(200,200,200,0.5);
  border:1px solid #BBB;
}
