@mixin background-color {
  background: rgb(255, 255, 204) url('bg.jpg'); 
}


@mixin blue {
  color: rgb(144,220,220);
}

@mixin orange {
  color: rgb(226,136,26);
}

@mixin green {
  color: rgb(202,225,119);
}

@mixin orange-link {
  a { @include orange; text-decoration: none; }
}

@mixin blue-link {
  a { @include blue; text-decoration: none; }
}

@mixin green-link {
  a { @include green; text-decoration: none; }
}

@mixin gray-link {
  a { color: #BBB; text-decoration: none; text-align: center; }
}
