@mixin background-color {
  background-color: rgb(255, 255, 204); 
}

@mixin blue {
  color: rgb(153,204,204);
}

@mixin orange {
  color: rgb(204,153,51);
}

@mixin green {
  color: rgb(204,204,51);
}

@mixin orange-link {
  a { @include orange; text-decoration: none; }
}

@mixin blue-link {
  a { @include blue; text-decoration: none; }
}

@mixin green-link {
  a { @include green; text-decoration: none; }
}

@mixin gray-link {
  a { color: #BBB; text-decoration: none; text-align: center; }
}
