// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixin';

.activities {
  float: left;
  width: 720px;
}

.activity .info .blog { @include blue; font-size: 18px; }
.activity.card .join-like { margin-top: 20px; }

.activity.board {
  margin-top: 100px;
  .poster { margin-top: -70px; }
  .join-like { margin-top: 40px; }
  .info .time, .info .location { @include green; }
}
