// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-content {
  margin:10px;
}
.new-blog {
  .box-body {
    padding:15px;
  }
  .blog-title {
    margin:5px;
    input {
      width:500px;
      font-size: 1.5em;
      height: 30px;
    }
  }
  .blog-content {
    margin:5px;
    textarea {
      width:500px;
    }
  }
}