// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'css3';
@import 'mixin';

.blogs { margin-bottom: 50px; }
.blogs > div { margin-top: 10px; }

.blog-content { min-height: 150px; }
.blog {
  border-bottom: 1px solid #EEE;
  padding: 10px 0px;
  .content { 
    min-height: 25px; 
    margin: 5px 0px;
  }
  .time { text-align: right; }
}
