@import 'css3';
@import 'mixin';
.circle-users{

  label select, label input { display: inline; }

  .filters {
    float:left;
    #cnamef {
      width: 150px;
    }
    #new {
      .input-wrapper {
        width:137px;
        margin-left: 10px;
        input { width:132px;}
      }
    }
    .circle,.apply {
      position: relative;
      width:150px;
      float:left;
    }
    a.circle-link {
      display:block;
      z-index:100;
      position:absolute;
      right:10px;
      top:15px;
    }
    label {
      padding:5px;
      font-weight:normal;
      font-size: 0.8em;
      width:130px;
      margin:10px;
      display:block;
      text-align:center;
    }
  }

  .users-table {
    width: 650px;
    padding:10px;
    float:right;
    .ui-toolbar {
      padding:8px;
    }
    table {
      th {
        text-align:center;
        min-width:40px;
      }
      td {
        text-align:center;
        @include black-link(1px);
        &.pic {
          width: 64px;
          height: 64px;
          padding:5px;
          background:#fff;
        }
        .infos {
          padding:30px;
        }
      }

    }
  }
  .select-option {
    vertical-align:center;
    span {
      margin-top:6px;
    }
    height: 32px;
    img { width:32px; float:left; margin-right:20px}
    p {height:32px; line-height:32px;}
  }
}
.css_right 
{
  float:right;
  margin:3px;
}
.dataTables_paginate{
  a {float:left;}
}
.multi-select-box {
  width:93%;
  height:400px;
}
#writable-circles {
  display:none;
  width:1px;
  height:1px;
}
.circle.box{
  padding:31px;
  ul { overflow: hidden; }
  li.user {
    list-style: none;
    float: left;
    margin: 15px 10px;
    img { 
      width: 128px; 
    }
  }

  .name {
   @include orange-link; 
   text-align:center;
 }
}
