@import 'css3';
@import 'mixin';
.circles.content{

  label select, label input { display: inline-block; }

  .members-table {
    table {
      th {
        text-align:center;
        min-width:40px;
      }
      td {
        text-align:center;
        @include black-link(1px);
        &.pic {
          width: 64px;
          height: 64px;
          padding:5px;
        }
      }

    }
  }
  .select-option {
    vertical-align:center;
    span {
      margin-top:6px;
    }
    height: 32px;
    img { width:32px; float:left; margin-right:20px}
    p {height:32px; line-height:32px;}
  }
}
.css_right 
{
  float:right;
  margin:3px;
}
.dataTables_paginate{
  a {float:left;}
}
.multi-select-box {
  width:93%;
  height:400px;
}

.circle{
  padding:31px;
  ul { overflow: hidden; }
  li.user {
    list-style: none;
    float: left;
    margin: 15px 10px;
    img { 
      width: 128px; 
    }
  }

  .name {
   @include orange-link; 
   text-align:center;
 }
}
