// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.comments {
  .new-comment {
    textarea { 
      width: 350px; 
      height: 50px;
    }
    .button-wrapper { margin-top: 5px; float: right; }
  }
  .comment.odd  { 
    .avatar { float: left; } 
    .body { 
      @include lbubble;
      float: right; 
    }
  }
  .comment.even, .new-comment { 
    .avatar { float: right; } 
    .body { 
      @include rbubble;
      float: left; 
    }
  }
  li { 
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    &.new-comment{margin-bottom: 10px;}
    border-bottom: 1px solid #cfcfcf;
    font-size: 14px;
    list-style:none;
    padding:20px;
    padding-bottom:0;
    .comment-box {margin:0; padding:0;}
    .avatar { 
      @include box-radius(5px); 
      overflow: hidden; 
      width: 64px;
      height: 64px;
      margin: 10px;
      margin-bottom: 30px;
    }
    .body {
      min-height: 40px;
      width: 530px;
      .name { @include orange-link; }
      .gray { color: #BBB; } 
      .time { @include green; }
      p {padding: 10px;}
    }   
    .delete {
      @include gray-link;
      position:relative;
      left:645px;
      top:-13px;
      float:left;
      font-size:12px;
    }
  }
}
.comment-body{
  @include orange-link;
  white-space:pre-wrap;
  word-wrap: break-word; 
  word-break: normal;
  padding:5px;
  padding-bottom:15px;
}
