// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.comments {
  margin-bottom: 30px;
  #new-comment {
    .hints {
      position:relative;
      display:block;
    }
    #comment_body { 
      width: 76%;
      height: 80px;
    }
    .comment-buttons {
      input {   
        border:0;
        display: block; 
        margin: 10px;
        width: 80px;
        height: 30px;
        color:#eee;
        background-color:#00A6FC;
        &:hover{
          background-color:#2A85E8;
        }
        &:disabled {
          background-color:#CCC;
          color:#777;
        }
      }
      float:left;
      margin-left: 0;
      margin-right: 15px;
    }
    margin-bottom:10px;
  }
  .comment.odd  { 
    .avatar { float: left; } 
    .body { 
      @include lbubble;
      float: right; 
    }
  }
  .comment.even, #new-comment { 
    .avatar { float: right; } 
    .body { 
      @include rbubble;
      float: left; 
    }
  }
  .comment.active {
    background-color: #ecFcee;
  }
  li { 
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #cfcfcf;
    font-size: 15px;
    list-style:none;
    padding:15px;
    padding-bottom:0;
    .comment-box {margin:0; padding:0;}
    .avatar { 
      @include box-radius(5px); 
      overflow: hidden; 
      width: 64px;
      height: 64px;
      margin: 10px;
      margin-bottom: 20px;
    }
    .body {
      min-height: 40px;
      width: 550px;
      .name { @include orange-link; }
      .gray { color: #BBB; } 
      .time { @include green; }
      pre {padding: 5px; font-size:0.9em;}
    }   
    .delete {
      @include gray-link;
      position:relative;
      left:650px;
      top:-10px;
      float:left;
      font-size:10px;
    }
  }
}
.comment-body{
  @include orange-link;
  white-space:pre-wrap;
  word-wrap: break-word; 
  word-break: normal;
  padding:5px;
  padding-bottom:15px;
  a {padding:3px;}
}

