// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

#new-comment {
  margin-top: 30px;
  margin-bottom: 30px;
  .buttons { float: right; }
  button { 
    display: block; 
    margin-bottom: 10px; 
    width: 100%; 
 }
  textarea { width: 100%; height: 55px; }
}

.comment {
  padding: 10px 0px;
  border-bottom: 1px solid #EEE;
  position: relative;
  .delete { position: absolute; right: 10px; top: 10px; }
  .comment-body { margin-top: 5px; }

}

.comment.active { 
  .span1 { margin-left: 30px; }
  background-color: #DFF0D8; 
}
