// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixin';

.form.box {
  .title {
   @include blue;
   font-size: 26px;
   text-align: center;
   text-shadow: none;
   margin-bottom: 30px;
   span {
     float: left;
     @include green-link;
   }
  }
}
