@import 'css3';
@import 'mixin';

body {
  font-family: "微软雅黑","Helvetica Neue", Arial, Helvetica, sans-serif !important;
  min-height: 100%;
  min-width: 100%;
  @include orange-link;
}

html {
  min-height: 100%;
  min-width: 100%;
  @include background-color;
}

table { 
  width: 100%; 
  margin-top: 10px !important; 
  tr { margin: 5px 0px; }
}

.sidebar { 
  width: 220px; 
  float: right;
}

.content { 
  width: 680px; 
  float: left;
}

.container {
  min-height: 100%;
  @include background-color;
  width: 960px;
  margin: 70px auto;
}

.clear { clear: both; }

.main {
  .header {
    span { 
      @include orange; 
      @include box-radius(10px);
      @include box-inset;
      background-color: white; 
      display: inline-block;
      width: 90px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      margin-left: -30px;
      margin-right: 20px;
    }
    line-height: 40px;
    @include gray-link;
    a { font-size: 16px; margin-right: 10px; }
  }
} 

.secondary {
  font-size: 15px;
  li { list-style: none; margin: 5px 0px; }
  @include blue-link;
  .first { @include blue; text-align: left; font-size: 20px; }
}

.orange-link { @include orange-link; }

.box.form {
  font-size: 14px;
  form { width: 530px; margin: 0 auto; }
  .title { 
    text-align: center; 
    font-size: 24px; 
    @include green;
    margin: 20px 0px 40px 0px;
  }
  .field { margin: 10px 0px; }
  label { 
    @include orange; 
    font-size: 16px;
    width: 100px;
    display: inline-block;
  }
  textarea { min-height: 100px; }
  input[type=text], textarea { width: 400px; }
  .submit { text-align: right; }
  .actions { text-align: right; }
}

.search {
  margin-top: 30px;
  input { 
    height: 20px;
  }
}

.header-wrapper {
  background: url('bg.png');
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  @include glossy(0,40%);
}

.header-wrapper .header {
  width: 960px;
  height: 30px;
  margin: 0px auto;
  margin-top:4px;
  overflow: hidden;
  @include black-link;
  a {
    margin: 10px;
  }
  .navi {
    float: left;
 }
  .panel { 
    float: right; 
  }
}

.gogo.card {
  .avatar { 
    float: left;
    img {
      @include box-radius;
    }
  }
  .info { float: right; }
  div { margin-bottom: 10px; }
  .name { @include orange; }
  .nickname { @include green; }
  .points { @include blue; }
  margin-bottom: 50px;
}
