@import 'css3';
@import 'mixin';

body {
  font-family: "微软雅黑","Helvetica Neue", Arial, Helvetica, sans-serif !important;
  min-height: 100%;
  min-width: 100%;
  @include orange-link;
}

html {
  min-height: 100%;
  min-width: 100%;
  @include background-color;
}

table { 
  width: 100%; 
  margin-top: 10px !important; 
  tr { margin: 5px 0px; }
}

.sidebar { 
  width: 220px; 
  float: right;
  margin-top: 100px;
}

.content { 
  width: 680px; 
  float: left;
}

.container {
  min-height: 100%;
  @include background-color;
  width: 960px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  &.noheader {
    margin-top: 30px;
  }
}

.clear { clear: both; }

.main {
  .header {
    span { 
      @include orange; 
      @include box-radius(10px);
      @include box-inset;
      background-color: white; 
      display: inline-block;
      width: 90px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      margin-left: -30px;
      margin-right: 20px;
    }
    line-height: 40px;
    @include gray-link;
    a { font-size: 16px; margin-right: 10px; }
  }
} 

.secondary {
  font-size: 15px;
  li { list-style: none; margin: 5px 0px; }
  @include blue-link;
  .first { @include blue; text-align: left; font-size: 20px; }
}

.orange-link { @include orange-link; }

.box.form {
  font-size: 14px;
  form { width: 530px; margin: 0 auto; }
  .title { 
    text-align: center; 
    font-size: 24px; 
    @include green;
    margin: 20px 0px 40px 0px;
  }
  .field { margin: 10px 0px; }
  label { 
    @include orange; 
    font-size: 16px;
    width: 100px;
    display: inline-block;
  }
  textarea { min-height: 100px; }
  input[type=text], textarea { width: 400px; }
  .submit { text-align: right; }
  .actions { text-align: right; }
}

.search {
  margin-top: 30px;
  input { 
    height: 20px;
  }
}

.header-wrapper {
  background: url('bg.png');
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  @include glossy(0,40%);
}

.header-wrapper .header {
  width: 960px;
  height: 30px;
  margin: 0px auto;
  margin-top:4px;
  overflow: hidden;
  @include black-link;
  a {
    margin: 10px;
  }
  .navi {
    float: left;
 }
  .panel { 
    float: right; 
  }
}

.gogo.card {
  .avatar { 
    float: left;
    img {
      @include box-radius;
    }
  }
  .info { float: right; }
  div { margin-bottom: 10px; }
  .name { @include orange; }
  .nickname { @include green; }
  .points { @include blue; }
  margin-bottom: 50px;
}

.highlight {
  background-color: #DDD;
}

.sign-in-form {
  margin-bottom: 35px;
}
.input-wrapper {
  height: 25px;
  width: 184px;
  background: #fff;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  input {
    border: none;
    background: none;
    line-height: 20px;
    font-size: 15px;
    margin-left:4px;
    width: 180px;
    float: right;
  }
  @include box-radius(5px);
  background-image: -o-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(240,240,240) 100%);
  background-image: -moz-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(240,240,240) 100%);
  background-image: -webkit-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(240,240,240) 100%);
  background-image: -ms-linear-gradient(90deg , rgb(254,254,254) 0%, rgb(240,240,240) 100%);
  background-image: linear-gradient(90deg , rgb(254,254,254) 0%, rgb(240,240,240) 100%);  @include box-inset(1px,0);
  &.active.hovering, &.active {
    @include box-shadow(5px,3px);
    border: 1px solid #eee;
  }
  &.hovering {
    @include box-shadow(10px,2px);
  }
  .sprite {
    width: 16px;
    height: 16px;
    float:left;
    margin-left: -35px;
    margin-top: 8px;
  }
}

.email {
  .sprite {
    background-image: url("sprites.png");
    background-position: 0 0;
  }
}
.password {
  .sprite {
    background-image: url("sprites.png");
    background-position: 0 -25px;
  } 
}
.remember {
  float: left;
  margin-left: 4px;
  font-size: 18px;
  margin-top: 8px;
}
.button-wrapper {
  &.sign-in {
    float: right;
    margin-right: 13px;
  }
  &.sign-up {
    margin-bottom: 30px;
  }
  input {
    background: url("sprites.png");
    background-position: -21px -4px;
    width: 96px;
    height: 45px;
    border: none;
    font-size: 18px;
  }
  &.hovering {
    input {background-position: -21px -49px;}
  }
}

.submit.button-wrapper { text-align: right; margin-top: 30px; }
.sign_up.box.form {
  margin-top: 80px;
  input[type=email], input[type=password] { width: 400px; }
  textarea { 
    width: 100%; 
    font-size: 18px;
    margin-top: 20px;
  }
}
.sign-in-form .func { 
  margin: 20px;
  font-size: 18px;
  text-align: right; 
}
