// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.group.main .comments .list { margin-top: 0px; }
.group.card .like-join { margin-top: 10px; }
.group.board { overflow: visible; }
.group.board .side {
  text-align: center;
  .logo { margin-top: -70px; }
  .history, .organization, .description { @include blue-link; }
}

.group .info { 
  .category, .activity { 
    @include blue;
    font-size: 16px;
    margin: 5px 0px;
  }
}

.main .activities { margin-top: 70px; float: none; }
.main .comments { margin-top: 70px; }

.group.form {
  form { text-align: right; }
}

.group.info-wrapper, .group-activities, .group-comments {
  @include title;
  @include back;
}

.group-comments {
  margin-bottom: 50px;
}

.group .list {
  margin-top: 30px;
}


.members {
  margin-top: 50px;
  @include back;
  @include title;
  .header  { margin-bottom: 20px; }
  ul { overflow: hidden; }
  li {
    list-style: none;
    float: left;
    margin: 10px 10px;
  }
  .box { 
    padding: 10px 20px; 
    .name { text-align: center; }
  }
  .box img { 
    width: 64px; 
    @include box-radius(0px);
  }
  .name { @include orange-link; }
}

.group.form.admin { @include back; }

.slink {
  @include box-gradual-change;
  @include box-radius;
  padding: 20px;
  margin-bottom: 30px;
  li.first { @include blue; }
  ul { overflow: hidden; }
  li { 
    float: left; 
    list-style: none; 
    margin-right: 30px; 
    @include orange-link;
  }
}

.activities .box .warn { 
  text-align: center;
  @include orange;
}

.groups .group .introduction { min-height: 130px; }
.groups .group .like-join { margin-top: 14px; }
.groups.index { margin-top: -50px; }
