// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.groups {
  float: left;
  width: 720px;
}

.sorts {
  float: left;
  width: 180px;
  text-align: center;
  margin-top: 30px;
  li { list-style: none; }
  @include blue-link;
}

.group.card .like-join { margin-top: 20px; }
.group.board { margin-top: 100px; overflow: visible; }
.group.board .side {
  text-align: center;
  .logo { margin-top: -70px; }
  .organization { @include blue; }
  .history { @include blue; }
  .join { @include gray-link; }
}

.group {
  .logo { overflow: hidden; }
  .logo img { width: 180px; @include box-radius; }
  .side {
    width: 180px; 
    float: left;
    .logo { text-align: center; }
    .like-join { text-align: center; color: #BBB; }
  }

  .info { 
    width: 463px; 
    float: left;
    margin-left: 15px;
    .name { 
      @include orange-link;
      font-size: 20px; 
      margin: 5px 0px;
    }
    .category { 
      @include blue;
      font-size: 18px;
      margin: 5px 0px;
    }
    .admin {
      @include green;
      font-size: 18px;
      margin: 5px 0px;
    }
    .description {
      margin: 5px 0px;  
    }
    .activity {
      @include blue;
      font-size: 18px;
    }
  }
}

.main .activities {
  margin-top: 50px;
}

.main .activities .header {
  span { 
    @include orange; 
    @include box-radius(10px);
    @include box-inset;
    background-color: white; 
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-left: -30px;
    margin-right: 20px;
  }
  line-height: 40px;
  @include gray-link;
  a { font-size: 18px; }
}
