@import 'css3';
@import 'mixin';

body { 
  padding-top: 80px; 
  background-color: #B0E0FA;
}

body.registration { background: url('husk.png'); }

.container { 
  background-color: white; 
  @include box-shadow2;
}

.span7.offset1 { padding-top: 30px; }

.sidebar { 
  margin-left: -30px; 
  margin-right: 30px;
}

.content-footer { width: 680px; bottom:0; position:absolute; height:100%; background:white; z-index:-1;    @include box-shadow2(-100px);}



body.form {
  background: url('screen_background.gif') repeat-x;
  background-color: #EEE;
  .container { 
    width: 730px;
    margin: 100px auto 0px auto;
  }
  .title { 
    @include white-shadow; 
    span { font-size: 16px; }
  }
  .button-wrapper { margin-top: 20px; }
}

.content.show, .container.profile, .container.circle {
  .header {
    span { 
      @include orange; 
      @include box-radius(10px);
      @include box-shadow2;
      background-color: white; 
      display: inline-block;
      width: 90px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      margin-left: -30px;
      margin-right: 20px;
    }
    margin-bottom: 20px;
    line-height: 40px;
    @include gray-link;
    a { font-size: 16px; margin-right: 10px; }
  }
} 


body.form {
  .box.form {
    font-size: 14px;
    form { width: 530px; margin: 0 auto; }
    .field { margin: 10px 0px; }
    label { 
      @include orange; 
      font-size: 16px;
      width: 100px;
      display: inline-block;
    }
    textarea { min-height: 100px; }
    input[type=text], textarea { width: 400px; }
    .submit { text-align: right; }
    .actions { text-align: right; }
  }
  background: url('screen_background.gif') repeat-x;
  background-color: #EEE;
  .container { 
    width: 730px;
    margin: 100px auto 0px auto;
  }
  .title { 
    @include white-shadow; 
    span { font-size: 16px; }
  }
  .button-wrapper { margin-top: 20px; }
}


body.circle {
  background: url('screen_background.gif') repeat-x;
  background-color: #EEE;
  .container { 
    width: 950px;
    margin: 100px auto 0px auto;
  }
  .title { 
    @include white-shadow; 
    span { font-size: 26px; }
  }
}


/**** Header Part ****/

.icon {
  background: url("icon.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -999px;
}

.icon.mailbox { background-position: -38px -98px; 
  &:hover{  background-position: -38px -128px; }
}
.icon.setting { background-position: -74px -98px;
  &:hover{  background-position: -74px -128px; }
 }
.icon.exit    { background-position: -110px -98px; 
  &:hover{  background-position: -110px -128px; }
}



.header-wrapper {
  background: url('global_nav_bg.png') repeat-x;
  position: fixed;
  top:0;
  left:0;
  right:0;
  overflow: visible;
  z-index: 10000;
}

.header-wrapper .header {
  width: 960px;
  height: 36px;
  margin: 0px auto;
  overflow: visible;
  .navi {
    float: left;
    a {
        color: #EEEEEE;
        text-decoration: none;
        text-shadow: 0 -4px 3px #4D6170;
      }
      a:hover { @include orange; }
  }
  
  .panel { 
    float: right; 
    .new_messages {
      position:absolute;
      background: url("icon.png");
      background-position: -98px -240px;
      width:25px;
      height:40px;
      a {
        font-size:4px;
        color:#FFF;
        padding-top:3px;
        text-align:center;
        display:block;
        text-decoration:none;
        width:100%;
      }
    }
  }
  li {
    list-style:none;
    float: left;
    line-height:34px;
  }
}

/* 
  LEVEL ONE
*/
ul.dropdown                         { position: relative; margin:0; }
ul.dropdown li                      { font-weight: bold; float: left; 
  text-align: center;
}
ul.dropdown li a                    {  display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
     }
ul.dropdown li.hover,
ul.dropdown li:hover                { @include box-inset(30px,0px,rgba(0,123,205,.3));  position: relative; }


/* 
 LEVEL TWO
*/
ul.dropdown ul { visibility: hidden; position: absolute; top: 100%; left: 0; right: 0; 

}
ul.dropdown ul li { 
  width: 100%;  

  font-weight: normal;
  background-color: #eef;
  background: rgba(235,235,255,0.9); 
  border-bottom: 1px solid #aaa; 
  height: 30px;
  font-size: 0.8em;
}

/* 
  LEVEL THREE
*/
ul.dropdown ul ul           { left: 100%; top: 0; width:120px; border:1px solid #777;}
ul.dropdown li:hover > ul       { visibility: visible; }
           
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block; color: #333!important;  text-shadow: none!important;
  padding:0;
} 


ul.panel {
  li{
    padding: 10px;
    padding-top: 8px;
    a {
      display: block;
      width: 16px;
      height: 16px;
    }
  }
}



/**** Footer Part ****/

.footer {
  bottom:0;
  position:absolute;
}

.tools {
  height: 30px;
  width: 100%;
  background-color: #E5E5E5;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
