@import 'css3';
@import 'mixin';

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: "微软雅黑","Helvetica Neue", Arial, Helvetica, sans-serif !important;
  min-height: 100%;
  min-width: 100%;
  background-color: #B0E0FA;
}

body.registration { background: url('husk.png'); }

.container { width: 960px; margin: 0px auto; min-height: 100%; background: rgba(0,15,30,0.1); }

.container.site.index {
  margin-top: 100px;
  .sidebar { width: 220px; float: right; }
  .content { width: 680px; float: left; }
}

.container.application { 
  margin-top: 100px;
  .content { width: 680px; float: left; }
}

.container.groups.index, .container.activities.index, .container.site.home {
  overflow: hidden;
  margin-top: 35px;
  .content { 
    background-color: white; 
    padding: 20px 30px; 
    @include box-shadow2;
  }
}

.container.groups.show, .container.activities.show, .container.profile {
  margin-top: 100px;
}

.content-wrapper { width: 680px; float: left; }
