@import 'mixin';
@import 'css3';
.box.mailbox {
  li {
    display: inline-block;
    float:left;
    padding:5px;
    margin: 15px;
    font-size: 0.8em;
    @include box-radius(8px);
    &.current {
      background: #eee;
    }
  }

  table.mail-list {
    border-collapse: collapse;
    thead th{
      border:1px solid #999;
      text-align:center;
    }
    td {
      text-align:center;
      @include black-link(0);
      .avatar {
        width: 64px;
        height: 64px;
        float: left;
        margin:20px;
      }
      .infos {
        padding:30px;
      }
      border-bottom:1px solid #999;
    }

    .unread td{
      font-weight:800;
      background-color:#FFD;
      @include orange-link;
    }
  }
  label {
    width:60px;
    display:inline-block;
  }
  .box-header {
    @include orange-link;
  }
  .input-wrapper {
    width:95%;
    input {
      width:100%;
    }
  }
}



.mailbox .button-wrapper { text-align: right; margin-top: 20px; }

.mails {
  padding: 15px;
  border-top: 1px solid #ccc;
  h3 {
    font-size:1.5em;
    font-weight:bold;
    padding-bottom:5px;
  }
  .infos {
    color: #888;
    font-size: 0.8em;
    @include green-link;
  }
  .mail-body {
    padding: 15px;
    margin: 15px;
    background:#f3f3f3;
    @include box-radius;
    min-height: 100px;
  }
  .reply {
    padding: 10px;

  }
  .pagination {
    text-align:center;
  }
}