@import 'css3';
@import 'mixin';

.newsfeed { 
  border-bottom: 1px solid #EEE;
  padding: 10px 0px;
}

.newsfeed strong { font-weight: normal; }
.newsfeed .center.small {
  .thumb { display: block; }
  .medium { display: none; }
}

.newsfeed .center {
  .thumb { display: none; }
  .medium { display: block; }
  margin-bottom: 10px;
}

.newsfeed .meta { float: right; }

.newsfeed a { color: #00A5FF; }

.newsfeed pre {
  margin:10px;
}