@import 'css3';
@import 'mixin';

.newsfeed {
  overflow: hidden;
  .avatar  { float: left;  }
  .content { 
    width: 500px;
    margin-left: 30px;
    font-size: 1em; 
  }
  .name { @include orange-link; }
  .object { @include orange-link; }
  border-bottom: 1px solid #eee;

  pre {
    display: block;
    padding: 10px;
    color: #888;
    background: #eee;
    font-size: 12px; 
  }
}

.news {
  @include orange-link;
  overflow: hidden;
  .content { 
    width: 450px;
    margin-left: 30px;
    font-size: 18px; 
    padding-top: 10px;
    .title {
 
    }
  }
  .name { @include green-link; }
  span { @include blue; }
  .time { @include blue; }
  .object { @include green-link; }
  margin-bottom: 10px;

  pre {
    display: block;
    margin: 10px;
    padding: 10px;
    color: #888;
    background: #eee;
    font-size: 0.7em;
  }
}

.newsfeed {
  @include link;
  font-size: 12px; 
  padding: 10px 10px;
  .top { font-size: 14px; }
  .center { 
    margin: 5px 0px; 
  }
  .bottom { 
    color: #BBB;
    span.meta { 
      color: #7AA5B9 !important; 
      float: right;
    }
    a { color: #7AA5B9; }
  }
}
