// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.user.card {
  margin-bottom: 50px;
  .avatar { margin-top: -70px;}
  .student-id, .phone { margin: 5px 0px; }
  .label { color: #BBB; margin-right: 10px; } 
  .val { @include green; }
  .info { margin-left: 20px; }
  .description { color: #999; margin: 10px 0px; }
  .group-activity { @include blue; }
  .like { margin-top: 20px; }
}
.field.avatar.img {
  width: 128px;
}

.box.profile.form {
  textarea { 
    width: 100%; 
    font-size: 18px;
  }
  label { width: 50px; }
  form { width: 480px; }
  margin-bottom: 0px;
}

.groups.profile, .activities.profile, .like.profile, .fans.profile {
  margin-bottom: 50px;
  .list {
    @include box-radius;
    @include box-gradual-change;
    @include box-shadow2;
    padding: 25px 20px;
  }
  ul { overflow: hidden; margin-right: -8px; }
  li {
    list-style: none;
    float: left;
    margin: 8px;
  }
}
