// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box.profile.card .box-body
{
	margin:30px;
	font-size:14px;
  p { margin: 5px; }
  img {
	  float:right;
	  margin-right:10px;
	  width:140px;
	  height:140px;
  }
  a { float: right; margin-right: 30px; }
}

.box.profile.liking, .box.profile.liked {
  .box-body { margin: 9px -11px 0px -11px; }
  ul { margin: 0px; padding: 0px; }
  ul li { 
    list-style: none; 
    float: left;
    margin: 5px 11px;
  }
  li .name { width: 64px; }
  .logo { width: 64px; height: 64px;}
  .name { white-space: nowrap; }
}

.box.profile.new {
  .box-header { 
    text-align: center; 
    height: 60px; 
    line-height: 60px; 
    font-size: 1.5em; 
  }
  .box-body { 
    margin: 20px 0px 0px 20px; 
    input[type=file] { width: 200px; }
    .avatar.img { text-align: center; padding-top: 15px; }
    .avatar label { margin-top: 10px;  }
  }
  label { width: 40px; display: inline-block; }
  .actions { text-align: center; }
}
