@import 'css3';
@import 'mixin';

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }


div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice,#alert {
  color: green;
  height:1px;
  overflow:hidden;
 }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 200px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin:0 auto;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: orange;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: none; } }

.tricol-list {
  @include box-thumb;
}

.box-header { white-space: nowrap; }

.admin-panel {background-image:none!important; font-size:1.5em;}

.rank { 
  margin: 5px 0px; 
  font-size: 1.2em;
  border-bottom: 1px solid #CCC;
  .name { float: right; }
  .award 
    {
      font-weight:bold;
      color:#B48FA8;      
    }
}
input:focus,textarea:focus {
  background-color:#FEFEEE;
}