.thumbnails .span1 { 
  text-align: center; 
  margin-bottom: 10px;
  height:120px;
  overflow:hidden;
}

.tabbable.groups, .tabbable.activities, .tabbable.users {
  min-height: 100px;
  margin-bottom: 30px;
}
