// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

.site-index { 
  margin-top: 50px; 
  .newsfeeds  { margin-top: 50px; }
  .newsfeed   { margin-top: 10px; }
  .activities { margin-top: 50px; }
}

.hotspot .box {
  img { 
    @include box-radius(10px); 
    @include box-shadow(0px, 3px);
  }
  div { display: inline-block; }
  .banner { 
    margin-right: 20px;
    height:100%;
    width: 18%;    
    img { margin: 5px 0px; width:100%;}
  }
  .medium {  width: 77%; img {width:100%; overflow:hidden; } }
}

.newsfeed {
  @include box-gradual-change;
  @include box-radius;
  .avatar,.content { display: inline-block; float:left;  }
  .poster { display: inline-block; float:right;  }
  .content { margin: 0 auto; padding-left:30px; padding-right:30px; font-size: 0.8em; padding-top: 10px;}
  .name { @include orange-link; }
  span { color: #BBB; }
  .time { @include green; }
  .object { @include orange-link; }
  border: 1px solid #eee;
  padding: 20px 20px 10px 20px;
  margin-top: 10px;
}
