@import 'css3';
@import 'mixin';

.sort-filter {
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: url("white_plaster.png");
  @include box-radius(5px);
  @include box-shadow2;
  .category, .sort, .my { overflow: hidden; }
  .split { 
    margin: 5px 0px;
  }

  li.category ul { display: block; }
  li { 
    list-style: none; 
    float: left;
    margin-right: 10px;
    a { color: #005EAC; text-decoration: none; }
    a:hover { text-decoration: underline; }
  }
}

