// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'css3';
@import 'mixin';

body { 
  background: url(bg.png) repeat #CEF; 
  background-position: -200px 0px;
}

.header { 
  height: 175px; 
  background: url(logo.png); 
  background-position: -130px 0px;
  .links {
    color:#885d7a;
    a {
      color:#885d7a;
      &:focus,&:hover {
        color:#f99b15;
      }
    }
    .left  { float: left; }
    .right { float: right; }
  }
}

.tools  { 
  float: right; 
  margin-top: 75px; 
}




.search { 
  padding: 5px 10px; 
  background-color: rgba(136,93,122,0.4); 
  margin-top: 10px;
  @include box-radius(10px);
  input[type=text] {
   width: 370px; 
   height: 15px; 
   border:1px solid #c94b66;
 }
}


.user-box { 
  margin-bottom: 20px;
  margin-top: 20px;
}

.box {
  @include box-radius;
  @include box-shadow;
  margin: 35px 0px;
  padding: 20px;
  background: url(circle.png) no-repeat white;
  background-position: left top;
  .box-header { 
    border-bottom: 1px solid #666; 
    height: 30px;
    line-height: 30px;
    margin-top: -10px;
    color:#400c22;
    font-size:1.5em;
    @include orange-link;
  }
}

.newsfeed {
  margin-top: 10px;
  .content { margin-top: 10px; }
  font-size: 1.3em;
  .box-header{
    margin-left:-20px;
  }
}
.activity {
  padding: 10px 0px;
  margin: 10px 0px;
  .content {
    border-bottom: 1px solid #BBB;
  }
  .title a{
    font-size:1.1em;
  }
}

.user {
  background-image: none !important ;
}

.sign_box{
  background-image: none !important ;
  width:320px;
  height:165px;
  margin:0 auto;
  margin-top:250px;
  z-index:1;
}
.sign_form{
  width:340px;
  height:180px;
  margin:0 auto;
  margin-top:-235px;
  z-index:100;
  font-size:16px;

  label {
    width:50px;
    display:inline-block;
    text-align:right;
    margin-right:10px;
    vertical-align:-4px;
  }
  input[type=email],input[type=password] {
    width:240px;
    height:20px;
  }
  span {
    display:inline-block;
    &.lefto {
      text-align:right;
    }
    &.centero {
      width: 40px;
      text-align:center;
    }
    &.righto {
    }
  }
  .options {
    margin:0 auto;
    margin-top:15px;
    width:300px;
    label{
      font-weight:100;
      margin:0;
      width:auto !important;
    }
  }
  .bottons {
    margin:0 auto;
    margin-top:10px;
  }
  .hidesubmit {
    height:1px;
    overflow:hidden;
  }
}
.sign_bg { 
  width:710px;
  height:450px;
  z-index:10;
  margin: 0 auto; 
  margin-top:-400px;
  background-image:url(sign_in.png);
  background-position:50px 0;
  background-repeat:no-repeat;
} 
