.activity

  .span-2.avatar
    = link_to (image_tag activity.poster.url(:thumb)), activity.poster.url(:big), :rel => "avatars"
  .span-12.content
    .title
      = link_to activity.title, activity
    .time
      = stime(activity)
    .location
      = t("location:",:location=>activity.location)
  .clear
