.attendant.tricol-list.box
  .box-header
    = t "attendants"
  .box-body
    %ul
      = render :partial => "users/thumb", :collection => @activity.members
      .clear
    .more
      = link_to (t "more"), "#",:class=>:right
    .clear
