.blogs
  .header
    %span= t "Blog"
    = link_to (t :blogs_more), activity_blogs_path(@activity) if @bore
  %div
    - if @activity.blogs.empty?
      .box.no-content
        = t '.empty'
    - else
      = render :partial => "blogs/blog", :collection => @activity.blogs
