.blogs
  %span.label.label-info
    = t "Blog"
  %div
    = t '.empty' if @activity.blogs.empty?
    = render :partial => 'blogs/blog', :collection => @activity.blogs
  .more.row
    - if @activity.blogs.count>3
      = link_to (t '.more'), activities_blog_path, :class => 'btn btn-info span3 offset2'
