.activity.card.box
  = render :partial => 'activities/side', :locals => { :activity => activity, :board => false }
  = render :partial => 'activities/info', :locals => { :activity => activity, :board => false }
