.poster.box=                render :partial => 'poster_box',                :locals => {:activity => @activity}
.contact.box=               render :partial => 'contact_box',               :locals => {:activity => @activity}
.attendant.tricol-list.box= render :partial => 'attendant_tricol_list_box', :locals => {:activity => @activity}
