.poster.box=                render :partial => 'activities/poster_box',                :locals => {:activity => @activity}
.contact.box=               render :partial => 'activities/contact_box',               :locals => {:activity => @activity}
.attendant.tricol-list.box= render :partial => 'activities/attendant_tricol_list_box', :locals => {:activity => @activity}
