.carousel
  .prevb
    %button.prev <<
  .carousel-container
    .carousel-items
      - pictures.each do |picture|
        =link_to(image_tag(picture.photo.url(:small)), show_gallery_picture_path(picture), :class=>"gallery_pics",:rel=>"gallery")
    .clear
  .nextb
    %button.next >>
.hide
  #picture-preview