.main
  = render :partial => 'board', :object => @activity, :as => :activity
.comments
  .header
    %span= t :comment
    = link_to (t :comments_more), '#'
  .list
    = render :partial => "share/comments", :locals => { :object => @activity }