= simple_form_for [@owner, @circle], :html => { :class => "form-horizontal" } do |f|
  #edit-circle.modal.fade
    .modal-header
      %a.close{"data-dismiss" => "modal"}
        %i.icon-remove
      %h3=t '.title'
    .modal-body
      = f.input :name
      = f.input :public, :hint => t('.public_help')

    .modal-footer
      %button.btn.btn-primary{:type=>:submit}= t '.submit'