#new-circle.modal.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"}
      %i.icon-remove
    %h3=t 'circles.new.title'
  .modal-body
  .modal-footer
    %button.btn.btn-primary{:href=>circles_path}