.circles.content
  -if @circle.users.empty?
    =t ".empty"
  -else
    .thumbnails
      - @circle.users.each do |user|
        .span1
          = link_to (image_tag user.thumb), user.profile
          = link_to user.name.truncate(12), user.profile