%ul.nav.pull-right
  %li
    = link_to t('.profile'), current_user
  %li
    = link_to t('.mailbox'), mailboxes_path
    - if !new_messages.empty?
      .new_messages=link_to (new_messages.count), mailboxes_path
  %li
    = link_to t('.logout'), destroy_user_session_path, { :method => :delete }

