!!!
%html
  %head
    %title Platform
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #notice=flash[:notice]
    #alert=flash[:alert]
    = yield
